* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container-header {
    background: #004643;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a{
    font-size: 36px;
    color: white;
    text-decoration: none;
}

.container-header header ul {
    display: flex;
    list-style-type: none;
}

.container-header header ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header ul li a:hover {
    color: #1cb698;
}

.nav-menuhamburgeur {
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO */

.inicio {
    background-color: #004643;
    height: 90vh;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.inicio .contenue-banner {
    padding: 10px;
    background-color: #FFFFFE;
    width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenue-banner img {
    margin-top: 30px;
    display: block;
    width: 100px;
    margin: auto;
    border-radius: 50px;
}

.inicio .contenue-banner h1 {
    margin-top: 20px;
    font-size: 35px;
    color: #001E1D;
}

.inicio .contenue-banner h2 {
    font-size: 18px;
    font-weight: normal;
}

.inicio .contenue-banner .reseaux-sociaux a {
    color: #004643;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #004643;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenue-banner .reseaux-sociaux a:hover {
    background-color: #f9bc60;
}

/* A PROPOS */

.apropos {
    background-color: #ABD1C6;
    height: 50vh;
    
}

.contenido-section {
    
    color:#39685f;
    max-width: 550px;
    text-align: left;
    margin: auto;
    border-radius: 30px;
    padding: 30px;
    font-size: 17px;
    letter-spacing: 5px;
}

.apropos h1 {
    color: #001E1D;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

/* PORTFOLIO */

.container-portfolio {
    background-color: #ABD1C6;
    max-width: 100%;
    padding-bottom: 40px;
}
.container-boite{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-portfolio h1 {
    color: #001E1D;
    font-size: 40px;
    padding-top: 15px;
    padding: 20px 0;
    text-align: center;
}

.boite-portofolio img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 1s ease;

}


.container-boite {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.boite-portofolio img:hover {
    transform: scale(1.06);
}
.boite-portofolio p{
    border: 1px solid #0F3433;
    width: 350px;
    color: #0F3433;
    padding: 20px;
    background-color: #E8E4E6;
}

/* CONCT */
#containerContact{
    width: 100%;
    height: 100vh;
    background-color: #fec7d7;
}
form{
    width: 350px;
    margin: auto;
    padding-top: 60px;
}
.labeiInput{
    margin-bottom: 10px;
    margin-top: 10px;
}
#containerContact h1{
    font-size: 35px;
    color:#0F3433;
    text-align: center;
    padding-top: 20px;

}
#containerContact label{
    font-size: 20px;
}
#containerContact input{
    width: 350px;
    height: 40px;
    border-radius: 10px;
   padding-left: 15px;
}
#containerContact textarea{
    width: 350px;
    height: 150px;
    border-radius: 10px;
}
#containerContact button{
    
        display: block;
        background-color: #f9bc60;;
        border-radius: 10px;
        border: 4px double #f9bc60;;
        color: #0F3433;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 200px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
}
#containerContact button:hover{
        background-color: #ffffff;
        border: 2px solid #0F3433;
        box-shadow: 10px 5px 5px #0F3433;
        color: #0F3433;
        text-align: center;
        font-size: 22px;
}




